html {
  height: 100%;
}

body {
  background: url("../img/riskboard.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

h1 {
  font-family: 'Kumar One', cursive;
  font-size: 100px;
  text-align: center;
}

h4 {
  font-size: 30px;
}

#dice button {
  background-color: darkred;
}

/*#dice button:hover {

}*/

#activePlayer {
  display: none;
  font-family: 'Baloo Paaji', cursive;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 15px;
  margin-left: 15px;
  box-shadow: 3px 3px 10px grey;
  box-sizing: border-box;
}

#activePlayer p {
  font-size: 20px;
}

#p1 {
  color: goldenrod;
}

#p2 {
  color: darkgreen;
}

#p3 {
  color: darkblue;
}

#p4 {
  color: darkred;
}

#p5 {
  color: black;
}

#dice {
  text-align: center;
  margin-top: 20px;
}

#battle {
  padding: 30px;
  font-size: 50px;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
}

#teams {
  font-family: 'Baloo Paaji', cursive;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 3px 3px 10px grey;
  max-width: 200px;
  min-width: 200px;
  box-sizing: border-box;
}

.transparent {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 1000px; /*changed to px value because of missing bottom on my laptop, may not need to be this tall, on my screen it was about 300px too short - the transparent div when the player card was shown did not drop down to cover the whole map */
}
.red {
  width: 70px;
  height: 70px;
  background-color: #993300;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 45px;
  display: none;
  float: left;
}

.red:first-child {
  margin-left: 40px;
}

.black:first-child {
  margin-left: 40px;
}

.black {
  width: 70px;
  height: 70px;
  background-color: #333333;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 45px;
  display: none;
  float: left;
}
